* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Cairo', sans-serif;
}

nav.navbar .navbar-nav li a.nav-link {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    transition: all 0.5s ease;
}

nav.navbar .navbar-nav li a.nav-link:hover ,
nav.navbar .navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #ff4500 ;
    border-radius: 20%;
}

nav.navbar.noTransparent {
    background-color: #c5bfbf;
    border-bottom: 2px solid #2f2c2c;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link {
    color: #ff4500;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link:hover ,
nav.navbar.noTransparent .navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #ff4500;
}

header.header {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

header.header .overlay {
    background-color: rgb(255, 69, .5, .8);
    color: #2f2c2c;
    padding: 40px 60px;
    transform: translateY(20%);
}


header.header .personel img {
    border: 5px solid #2f2c2c;
    margin-bottom: 20px;
    border-radius: 50%;
}

header.header .overlay h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #2f2c2c;
}

header.header .overlay h1 span {
    font-size: 24px;
}

header.header .overlay ul {
    margin-bottom: 40px;
}

header.header .overlay ul li a {
    font-size: 24px;
    color: #2f2c2c;
}

header.header .overlay h2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

header.header .overlay p {
    font-size: 15px;
    line-height: 30px;
    color: #2f2c2c;
    margin-bottom: 40px;
}


header.header .overlay a.cv {
    font-size: 18px;
    line-height: 32px;
    color: #2f2c2c;
    text-decoration: none;
    margin-bottom: 40px;
}

section.licence {
    padding: 200px 0 80px;
    background-color:#2f2c2c ;
}

section.licence .licence-title {
    padding-bottom: 30px;
    position: relative;
}


section.licence .licence-title h1 {
    font-size: 30px;
    line-height: 50px;
    color: #ff4500;
}

section.licence .licence-title h1::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ff4500;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

section.licence .licence-title h1 i {
    display: block;
}

section.licence  ul.time-line {
    padding-left: 0px;
    padding-top: 45px;
    list-style: none;
    position: relative;
}

section.licence  ul.time-line::before {
    content: "";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 0;
    right: 50%;
    background-color: #ff4500;
}

section.licence  ul.time-line li .timebox {
    background-color: #c5bfbf;
    border: 2px solid #2f2c2c;
    padding: 20px 25px;
    width: 48%;
    position: relative;
}

section.licence  ul.time-line li .timebox h1 {
    font-size: 18px;
    line-height: 30px;
    color: #2f2c2c;
    font-weight: bold;
}

section.licence  ul.time-line li .timebox h1 span {
    color: #f1ebeb;
    background-color: #ff4500;
    padding: 0px 5px;
    margin-right: 25px;
}

section.licence  ul.time-line li .timebox p {
    font-size: 15px;
    line-height: 20px;
    color: #2f2c2c ;
}

section.licence  ul.time-line li .timebox::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-right: 2px solid #c5bfbf;
    border-top: 2px solid #c5bfbf;
    top: 5%;
    right: -10px;
    transform: rotate(45deg);
    background-color: #c5bfbf;
}

section.licence  ul.time-line li {
    position: relative;
    margin-bottom: -50px;
}

section.licence  ul.time-line li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff4500;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

section.licence  ul.time-line li:nth-child(even) {
    direction: rtl;
    text-align: right;
}

section.licence  ul.time-line li:nth-child(even) .timebox::after{
    border: 0px;
    right: auto;
    left: -10px;
    border-left: 2px solid #c5bfbf;
    border-bottom: 2px solid #c5bfbf;
}

section.licence  ul.time-line li:nth-child(even) .timebox h1 span {
    float: right;
    margin-right: 0px;
    margin-left: 25px;
}

section.statistics {
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgb(255, 69, .5, .8);
    padding: 150px 0;
}


section.statistics .overlay  .stat p {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    color: #2f2c2c;
    font-weight: bold;
    font-family: sans-serif;
}

section.statistics .overlay  .stat .circle canvas {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

section.statistics .overlay  .stat .circle {
    position: relative;
}

section.statistics .overlay  .stat .circle span {
    position: absolute;
    font-size: 24px;
    color: #2f2c2c;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
}

section.gallery {
    padding: 75px 0 90px;
    background-color: #c5bfbf;
}

section.gallery .gallery-title {
    margin-bottom: 35px;
}

section.gallery .gallery-title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #ff4500;
}


section.gallery .gallery-work label {
    font-size: 18px;
    line-height: 35px;
    color: #ff4500;
    padding: 10px 30px;
    background-color: #2f2c2c;
    border: 2px solid #2f2c2c;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 7px 40px;
    transition: all 0.5s ease;
}

section.gallery .gallery-work label:hover {
    color: #fff;
    background-color: #ff4500;
}

section.gallery .gallery-work .items .item {
    margin-bottom: 25px;
    transition: all 0.5s ease;
}

section.gallery .gallery-work .items .item img {
    width: 100%;
}

section.gallery .gallery-work input.item-type-1:checked~label.label-type-1 ,
section.gallery .gallery-work input.item-type-2:checked~label.label-type-2,
section.gallery .gallery-work input.item-type-3:checked~label.label-type-3,
section.gallery .gallery-work input.item-type-all:checked~label.label-type-all  {
    color: #fff;
    background-color: #ff4500;
}

section.gallery .gallery-work input.item-type-1:checked~.items .item-type-1 ,
section.gallery .gallery-work input.item-type-2:checked~.items .item-type-2 ,
section.gallery .gallery-work input.item-type-3:checked~.items .item-type-3 ,
section.gallery .gallery-work input.item-type-all:checked~.items .item-type-all {
    transform: scale(1.08);
    opacity: 1;
}

section.gallery .gallery-work input.item-type-1:checked~.items .item:not(.item-type-1),
section.gallery .gallery-work input.item-type-2:checked~.items .item:not(.item-type-2),
section.gallery .gallery-work input.item-type-3:checked~.items .item:not(.item-type-3) {
    transform: scale(0.8);
    opacity: 0.5;
} 

section.contacts {
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
}

section.contacts .overlay {
    background-color: rgb(0, 0, 0,.6);
    padding-top: 70px;
}

section.contacts .overlay .testimonials-title h1 {
    font-size: 30px;
    line-height: 50px;
    color: #ff4500;
    margin-bottom: 40px;
}

section.contacts .overlay .testimonials .slider {
    width: 65%;
    margin: 0 auto 80px;

}

section.contacts .overlay .testimonials .slider .carousel-item {
    min-height: 350px;
}
section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption {
    background-color: #c5bfbf;
    width: 100%;
    padding: 80px 70px 35px;
    left: 0;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption img {
    position: absolute;
    top: 0;
    transform: translate(-50% , -50%);
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption h4 {
    font-size: 18px;
    color: #2f2c2c;
    font-weight: bold;
    margin-bottom: 15px;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption h4 span {
    font-size: 15px;
    font-weight: lighter;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height: 22px;
    color: #2f2c2c;
    margin-bottom: 25px;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption li a {
    font-size: 24px;
    color: #e78e6d;
    transition: all .5s ease;
}

section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption li a:hover{
    color: #ff4500;
}

section.contacts .overlay .testimonials .sliders .carousel .carousel-indicators {
   bottom: -5px;
}

section.contacts .overlay .testimonials .sliders .carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border: 1px solid #2f2c2c;
    background-color: #ff4500;
}

section.contacts .overlay .testimonials .sliders .carousel .carousel-indicators button.active {
    background-color: #ff4500;
}

section.contacts .overlay .testimonials .carousel .carousel-control-prev i ,
section.contacts .overlay .testimonials .carousel .carousel-control-next i {
    padding: 10px 20px;
    background-color: #ff4500;
    color: #2f2c2c;
    border-radius: 50%;
}
section.contacts .overlay .testimonials .carousel .carousel-control-prev {
    transform: translate(-50%);
}
section.contacts .overlay .testimonials .carousel .carousel-control-next {
    transform: translate(50%);
}

section.contacts .overlay .contact-info {
    background-color: #2f2c2c;
    padding: 50px;
}

section.contacts .overlay .contact-info .contact-title {
    font-size: 30px;
    color: #ff4500;
    line-height: 50px;
    margin-bottom: 35px;
}

section.contacts .overlay .contact-info .contact-form input , 
section.contacts .overlay .contact-info .contact-form textarea {
    background-color: #c5bfbf;
    border: 2px solid #2f2c2c;
    font-size: 18px;
    line-height: 35px;
    border-radius: 10px;
    padding-left: 45px;
    text-align: left;
    margin-bottom: 15px;
}

section.contacts .overlay .contact-info .contact-form .col-sm-6 {
    position: relative;
}

section.contacts .overlay .contact-info .contact-form .col-sm-6::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #ff4500;
    font-weight: bold;
}


section.contacts .overlay .contact-info .contact-form .col-sm-6:first-child::before {
    content: "\f007";
}

section.contacts .overlay .contact-info .contact-form .col-sm-6:nth-child(2)::before {
    content: "\f0e0";
}

section.contacts .overlay .contact-info .contact-form button {
    font-size: 24px;
    background-color: #c5bfbf;
    color: #2f2c2c;
    border-radius: 10px;
    line-height: 25px;
    border: 3px solid #2f2c2c;
    padding: 15px 70px;
    max-width: 200px;
    font-weight: bold;
    margin-left: 15px;
    transition: all .5s ease;
}

section.contacts .overlay .contact-info .contact-form button:hover {
    color: #f1ebeb;
    background-color: #ff4500;
}

section.contacts .overlay .contact-info ul.contact-us li {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #ff4500;
}

section.contacts .overlay .contact-info ul.social li  {
    margin-left: 10px;
}
section.contacts .overlay .contact-info ul.social li a {
        background-color: #2f2c2c;
        color: #c5bfbf;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        display: block;
        transition: all .5s ease;
}

section.contacts .overlay .contact-info ul.social li a:hover {
    background-color: #ff4500;
    color: #fff;
}


section.contacts .overlay .copyright p {
    font-size: 18px;
    color: #ff4500;
    line-height: 77px;
    margin: 0;
    text-align: center;
}


label.error {
    color: red;
}

@media (max-width: 992px) {
    section.contacts .overlay .testimonials .slider {
        width: 90%;
    }
}
@media (max-width: 768px) {
    section.licence ul.time-line::before{
        height: 88%;
    }

    section.licence ul.time-line li .timebox{
        width: 90%;
        margin: auto;
    }
    section.licence ul.time-line li {
        margin-bottom: 25px;
    }

    section.licence ul.time-line li .timebox::after {
        content: none;
    }
    
    section.contacts .overlay .testimonials .slider .carousel-item .carousel-caption {
        padding: 65px 35px 35px;
    }
}

